
<nav class="w-full bg-white not-last:sticky border-b px-4 border-gray-300 top-0 z-50">
  <div class="">
    <a routerLink="/" class="flex items-left py-4">
			<span class="text-xl font-bold text-green-700">AgriBiz</span>
    </a>
  </div>
</nav>

<div class="px-3">
<div class="items-center justify-center max-w-[500px] mx-auto mt-10">
  <h1 class="text-xl font-bold text-center">Create your account with us Today!</h1>
  <div class="flex items-center justify-between mt-3 ">
    <h2 class="text-gray-600 font-semibold text-center text-xl">Select your account type</h2>
    <div class="gap-2 flex items-center">
      <span class="text-[20px]">or</span> <a routerLink="/login" class="text-green-700 text-[20px] cursor-pointer hover:underline">login</a>
    </div>
  </div>
  <div class="items-center justify-center gap-5 mt-5 w-full flex flex-col mx-auto">
      <a routerLink="/register" class="group px-2 py-5 cursor-pointer hover:border-green-600 hover:bg-green-50 rounded w-full border-2 border-gray-300 flex items-center justify-between transition">
        <span>farmers</span>
        <svg class="hidden group-hover:inline-block h-6 w-6 text-green-600" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7" />
        </svg>
        
      </a>
      <a routerLink="/register" class="group px-2 py-5 cursor-pointer hover:border-green-600 hover:bg-green-50 rounded w-full border-2 border-gray-300 flex items-center justify-between transition">
        <span>buyers</span>
        <svg class="hidden group-hover:inline-block h-6 w-6 text-green-600" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7" />
        </svg>
      </a>
      <a routerLink="/register" class="group px-2 py-5 cursor-pointer hover:border-green-600 hover:bg-green-50 rounded w-full border-2 border-gray-300 flex items-center justify-between transition">
        <span>Investors</span>
        <svg class="hidden group-hover:inline-block h-6 w-6 text-green-600" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M5 13l4 4L19 7" />
        </svg>
      </a>
    </div>
</div>
</div>
